$dark-red: #290000;
$hover-color: #76c38f;
$font-white: #ffffff;
$slider-border: #6b6b6b;
$slider-paragraph: #979797;
$light-red: #660000;
$service-h3: #333333;
$latest-work-footer: #303030;
$footer-colored: #76c38f;
$footer-basic: #979797;
$input-background: #222222;